*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: Fantasy;
  background: #2C2F33
}
nav{
  background: #d400ff;
  height: 90px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 42px;
  line-height: 90px;
  padding: 0 30px;
  font-weight: normal;
  outline: #212121;
  outline-width: 10px;
}

label.logo{
    position: relative;
}

label.logo:before {
  content: "";
  position: absolute;
  width: 82%;
  height: 0;
  bottom: 0;
  left: 27px;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
label.logo:hover:before {
  visibility: visible;
  height: 5px;
  width: 80%;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 90px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #2c2f33;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #2c2f33;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  background: url(http://www.htmlcsscolor.com/preview/gallery/2C2F33.png) no-repeat;
  background-size: cover;
  height: calc(100vh - 90px);
}
.cclogo{
  float: left;
  margin-left: 20px;
  margin-top: 5px;
}

/* navbar amongus button */

button.amongus {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  -webkit-transition: all 250ms;
  transition: all 250ms;
  overflow: hidden;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #be0000;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  -webkit-transition: all 250ms;
  transition: all 250ms
 }
 
 button:hover {
  color: #e8e8e8;
  cursor: url(./Resources/amogus_cursor.png), auto;
 }
 
 button:hover::before {
  width: 100%;
 }

 /* Card */

.card {
  width: 190px;
  height: 254px;
  background: #f0f0f0;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
 }
 
 .card:hover {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.623);
  background-color: #4bb8ff;
 }
 
 .card .blob {
  height: 10px;
  width: 75%;
  border-radius: 0 0 30px 30px;
  margin: 0 auto;
  background-color: #4bb8ff;
  visibility: visible;
  transition: all 0.3s;
 }
 
 .card:hover .blob {
  height: 0;
 }
 
 .card .img {
  display: flex;
  margin: 30px auto 10px auto;
  width: 70px;
  height: 70px;
  background-color: #4bb8ff;
  border-radius: 50%;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
 }
 
 .card:hover .img {
  width: 100%;
  height: 70%;
  border-radius: 10px 0 0;
  margin: 0 auto;
  background-color: #f0f0f0;
  z-index: 99999;
 }
 
 .card h2 {
  padding: 15px 10px;
  font-size: 25px;
  transition: all 0.1s;
  z-index: -99;
  line-height: 17px;
 }
 
 .card span {
  font-size: 18px;
 }
 
 .card:hover h2 {
  opacity: 0;
  width: 100%;
  position: absolute;
  transition: all 0.5s;
 }
 
 .card>p {
  opacity: 0;
  transition: all 0.75s;
 }
 
 .card>p>svg {
  padding: 5px;
 }
 
 .card:hover>p {
  position: absolute;
  bottom: 15px;
  left: 35px;
  opacity: 1;
  transition: all 0.1s;
 }


 .exit-reddit{
  position: relative;
  top: 6px; left: 10px;
 }